body {
  color: #656565;
  background-color: #f4f4f4;
  font-family: "Segoe UI", Helvetica, Garuda, Arial, sans-serif;
}

label {
  display: inline-block;
  width: 45%;
  margin-bottom: 10px;
}

input {
  display: inline-block;
  width: 90%;
  margin-top: 5px;
}

input:focus {
  outline-color: #1a80c3;
}

#submit-Update {
  background-color: #1a80c3;
  color: white;
  border: 1px solid #1a80c3;
  border-radius: 5px;
  display: block;
  margin: auto;
}

#submit-Update:hover {
  background-color: #4694c8;
}

#submit-Update:active {
  background-color: #4c81cb;
}
